.dashboardShell {
  display: grid;
  grid-template-columns: minmax(15rem, 18rem) 1fr;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle at top,
    #efe7d2 0%,
    #f4efdd 45%,
    #ece3cb 100%
  );
}

.navbarContainer {
  min-height: 100vh;
}

.mainContent {
  padding: 2rem;
  overflow-y: scroll;
}
